<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.affwl.exchange">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".indie.IndieActivity" />
        <activity
            android:name=".indie.PivotActivity"
            android:label="@string/pivot"
            android:parentActivityName=".indie.IndieActivity" />
        <activity
            android:name=".indie.LiveTipsActivity"
            android:label="@string/live_tips"
            android:parentActivityName=".indie.IndieActivity" />
        <activity
            android:name=".indie.NewHiloActivity"
            android:label="New High Low" />
        <activity
            android:name=".indie.MarketMoversEquityActivity"
            android:label="Market Movers" />
        <activity
            android:name=".indie.MarketWatchActivity"
            android:label="Market Watch" />
        <activity
            android:name=".indie.MarketIndicesActivity"
            android:label="Market" />
        <activity
            android:name=".indie.MarketDerivativesActivity"
            android:label="Market" />
        <activity
            android:name=".indie.MarketCurrencyActivity"
            android:label="Market" />
        <activity
            android:name=".indie.ScripSearchActivity"
            android:label="Scrip Search" />
        <activity
            android:name=".indie.NewsActivity"
            android:label="News" />
        <activity
            android:name=".binary.Sec60Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".binary.AssetNameActivity"
            android:parentActivityName=".binary.Sec60Activity" />
        <activity android:name=".LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".binary.AssetListActivity" />
        <activity android:name=".binary.TradeActivity" />
        <activity android:name=".binary.BinaryPotfolioActivity" />
        <activity android:name=".fx.FxActivity" >


        </activity>
        <activity android:name=".fx.CustomSpinner" />
        <activity android:name=".fx.Problem_Description" />
        <activity android:name=".fx.Certificates" />
        <activity android:name=".fx.New_Account" />
        <activity android:name=".fx.Indicators" />
        <activity android:name=".fx.Mailbox1" />
        <activity android:name=".fx.Selected_symbols" />
       <activity android:name=".fx.Add_symbol"/>
        <activity android:name=".fx.Add_symbol_Forex"/>
        <activity android:name=".fx.FX_indicator_f_add_Activity"/>
        <activity android:name=".fx.FX_indicator_f1_add_Activity"/>
        <activity android:name=".fx.new_Acc_open_a_real_acc_Activity"/>
     <!--   <activity android:name=".fx.New_acc_start_without_regi"/>-->

        <activity android:name=".fx.New_acc_Open_a_real_acc_pI"/>
        <activity android:name=".fx.M_delete" />

        <activity android:name=".fx.OneClickTrading" />
        <activity
            android:name=".sport.SportActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".sport.BetActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sport.UnmatchMatchTabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sport.SettingsActivity" />

        <activity android:name=".sport.StackActivity" />
        <activity android:name=".fx.Fx_Currency_Activity"></activity>
        <activity android:name=".fx.Fx_AVW_Activity"></activity>
        <activity android:name=".fx.Fx_DOM_Activity">
        </activity>
        <activity android:name=".fx.Fx_MarketStatistics_Activity"></activity>
        <activity android:name=".fx.Fx_Properties_Activity"></activity>

        <activity android:name=".news.RssFeedUrlActivity" />
        <activity android:name=".news.WebActivity" />
        <activity android:name=".news.RssFeedListActivity"></activity>
        <activity android:name=".news.NewsActivity"/>
        <activity android:name=".news.RssFeedDeleteActivity"/>

        <activity android:name=".settings.SettingsMainActivity"/>
        <activity android:name=".alerts.AlertsActivity"/>
        <activity android:name=".alerts.IndieReminderActivity"/>

        <activity android:name=".sport.TournamentActivity" />
        <activity android:name=".sport.MatchListActivity" />
        <activity android:name=".sport.MatchOddsActivity"></activity>

        <service android:name=".sport.SignalRService"/>
        <!--<receiver android:name=".sport.BroadcastReceiverSignalr" >
            <intent-filter>
                <action android:name="com.affwl.exchange.sport.RESPONSE" />

            </intent-filter>
        </receiver>-->

        <activity android:name=".trades.TradesActivity"/>

        <activity android:name=".alerts.MessageMainActivity"/>
        <activity android:name=".alerts.MessagePage"/>

        <activity android:name=".reports.ReportsActivity"/>
        <activity android:name=".reports.OrderReportActivity"
            android:parentActivityName=".reports.ReportsActivity"/>
        <activity android:name=".reports.MarginPositionActivity"
            android:parentActivityName=".reports.ReportsActivity"/>
        <activity android:name=".reports.NetPositionActivity"
            android:parentActivityName=".reports.ReportsActivity"/>
        <activity android:name=".reports.TradeReportActivity"
            android:parentActivityName=".reports.ReportsActivity"/>

    </application>

</manifest>